.center{
    display: flex;
    justify-content: center;
}


h2 {
    color: #2b2d30;
    font-family: "ZCOOL KuaiLe", sans-serif;
    text-align: center;
}


header {
    background-color: #f64b2f;
    text-align: center;
}

.image-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;}

.countdown-text {
    color: #f64b2f;
    font-weight: bold;
    font-family: "ZCOOL KuaiLe", sans-serif;
    text-align: center;

}